* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    background-color: #191919;
}

.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    filter: grayscale(100%);
    transition-duration: 0.3s;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    gap: 16px;
}


#backBtn,
#nextBtn {
    width: 60px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}