* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    background-color: #000d49;
}


.input-box {
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #555;
}


.input-box img {
    width: 35px;
    cursor: pointer;
}