// Page Title
.page-title {
  text-align: center;
  font-size: 30px;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    translate: -50% 0%;
  }
  &::before {
    width: 200px;
    height: 3px;
    bottom: -15px;
    background-color: #4ff7e6;
  }
  &::after {
    width: 15px;
    height: 15px;
    bottom: -24px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: black;
  }
}
// ************************************************************
/* Spikes */
@mixin spikes($backgroundColor) {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    right: 0;
    background-image: linear-gradient(
        135deg,
        $backgroundColor 25%,
        transparent 25%
      ),
      linear-gradient(225deg, $backgroundColor 25%, transparent 25%);
    background-size: 30px 30px;
  }
}
// ************************************************************
